{% extends "base.jinja2" %}
{% block title %}Index{% endblock %}
{% block backscript %}
<script type="text/javascript">
	$.backstretch("static/style/images/bg/1.jpg");
</script>
{% endblock %}
{% block pagetext %}
<!-- Begin Wrapper -->
<div class="wrapper"><!-- Begin Intro -->
<div class="intro">
Магия слов, без сомнения, существует. А если ими манипулирует человек умелый и знающий, эти слова запросто могут взять вас в плен. Они опутают вас, как шелковистая паутина, а когда вы превратитесь в беспомощный кокон, пронзят вам кожу, проникнут в кровь, овладеют вашими мыслями. Их магическое действие продолжится уже внутри вас.
</div>

<!-- Begin Blog Grid -->
<div class="blog-wrap">
	<!-- Begin Blog -->
	<div class="blog-grid">
		{% for article in articles %}
 		<!-- Begin Standard Format -->
 		<div class="post format-standard box"> 

			<h2 class="title"><a href="/post/{{article.id}}">{{article.title}}</a></h2>
			<h4 class="au">{{article.user.name}}</h4>
			<p>начало...</p>
	
			<div class="details">
				<span class="icon-standard">{{article.Cdate}}</span>
			</div>
	
		</div>
		<!-- End Standard Format --> 
		{% endfor%}					
 	
 	</div>
	<!-- End Blog -->
</div>
<!-- End Blog Grid -->
{% endblock %}
